
.navUser {
    @include breakpoint("medium") {
        display: flex;
        align-items: center;
        position: static;
    }
    @media (max-width: (screenSize("medium") - 1px)) {
        left: auto;
        width: auto;
    }
}

.navUser-section {
    @include breakpoint("medium") {
        display: flex;
        align-items: flex-end;
        column-gap: spacing("half");

        &::before,
        &::after {
            display: none;
        }
    }

    @include breakpoint("xxlarge") {
        @if $theme-style == "compact" {
            column-gap: spacing("single");
        }
        @else {
            column-gap: spacing("base");
        }
    }

    + .navUser-section {
        margin-left: spacing("half");
    }
}


.navUser-action {
    display: inline-flex;
    align-items: flex-end;
    line-height: 1.25;
    text-transform: none;
    vertical-align: middle;
    padding: spacing("half");

    @include breakpoint("medium") {
        padding: 0;
    }

    @if $theme-style == "compact" {
        font-size: fontSize("large");
    }
    @if $theme-style == "modern" {
        font-size: fontSize("base");
    }
    @else {
        font-size: fontSize("small");
    }

    > * {
        vertical-align: baseline;
    }

    .icon {
        margin-right: spacing("half");
    }
}

.navUser-action--cart {
    ._rows {
        display: flex;
        flex-direction: column;
    }
}


.navUser-or {
    vertical-align: middle;
    padding: 0 spacing("quarter");
    line-height: 1.25;
}

.navUser-subtitle {
    color: stencilColor("navUser-color");
    font-size: fontSize("base");
    line-height: 1.25;

    .navUser-action {
        display: inline-block;
        vertical-align: baseline;
        font-size: inherit;
        font-weight: inherit;
    }
}

.navUser-item {
    .icon {
        @include square(22);
        @include breakpoint("medium") {
            width: remCalc(32);
            height: remCalc(32);
        }
    }

    svg {
        fill: stencilColor("navUser-color");
    }

    .countPill {
        width: auto;
        height: auto;
        line-height: 1;
        border-radius: 0;
        color: stencilColor("navUser-indicator-backgroundColor");
        background-color: transparent;
        margin: 0;
        text-align: inherit;

        @if $theme-style == "compact" {
            font-size: fontSize("large");
        }
        @else {
            font-size: fontSize("small");

        }
    }
}

.navUser-item--compare {
    display: block;
}

.navUser-action--compare {
    display: none;

    &.show {
        display: block;
        position: fixed;
        bottom: calc(-100vh + 150px);
        right: 0;
        padding: spacing("half") spacing("single");
        color: stencilColor("button--primary-color");
        background-color: stencilColor("button--primary-backgroundColor");

        &:hover,
        &:focus {
            color: stencilColor("button--primary-colorHover");
            background-color: stencilColor("button--primary-backgroundColorHover");
        }

        @include breakpoint("medium") {
            bottom: 0;
        }
    }
}


.navUser-item-icon {
    font-size: remCalc(26px);
    display: inline-flex;
    padding-right: spacing("half");
    vertical-align: middle;

    .icon {
        @include square(26px);
    }

    @include breakpoint("medium") {
        font-size: remCalc(20px);

        &::before {
            vertical-align: middle;
        }
    }
}

.navUser-item-cartIcon {
    padding-right: 0;

    @include breakpoint("medium") {
        padding-right: spacing("half");
    }
}

.navUser-item-recentlyViewedIcon,
.navUser-item-giftCertIcon,
.navUser-item-wishlistIcon {
    @media (min-width: screenSize("medium")) and (max-width: screenSize("xxlarge") - 1px) {
        padding-right: 0;
    }
}

.countPill {
    background-color: stencilColor("navUser-indicator-backgroundColor");
    font-size: fontSize("smallest");
    font-weight: fontWeight("bold");
    margin-left: -(spacing("half"));
    vertical-align: text-bottom;

    @include breakpoint("small") {
        margin-left: spacing("quarter");
    }
}

.countPill--positive {
    margin-left: 0;

    @include breakpoint("medium") {
        margin-left: spacing("quarter");
    }
}

.countPill--alt {
    background-color: stencilColor("navUser-indicator-backgroundColor");
    color: color("whites", "bright");
}

.navUser-item--cart {
    .dropdown-menu.is-open {
        margin-top: spacing("base");
    }

    .dropdown-menu:not(.is-loading) {
        width: auto;
        max-width: none;
    }

    .previewCart {
        @include breakpoint("medium") {
            width: remCalc(400);
        }
    }

    .navUser-action {
        position: relative;

        @media (max-width: screenSize("medium") - 1px) {
            padding-right: spacing("half");
        }
    }

}

.navUser-item--recentlyViewed {
    position: relative;

    .dropdown-menu {
        &.is-open {
            top: auto !important;
            left: auto !important;
            right: 0;
        }
    }
}

.navUser-item-recentlyViewedLabel,
.navUser-item-giftCertLabel,
.navUser-item-wishlistLabel {
    display: flex;
    flex-direction: column;
    
    .firstword {
        font-size: fontSize("base");
        font-weight: $body-font-weight;
    }

    @media (min-width: screenSize("medium")) and (max-width: screenSize("xxlarge") - 1px) {
        display: none;
    }
}

.dropdown--quickSearch {
    background-color: container("fill");
    padding: 0;
    margin: 0 auto;
    width: layout("fixed");

    @include breakpoint("medium") {
        padding: 0 $container-padding;
    }

    @include breakpoint("large") {
        max-width: remCalc(1170);
    }

    @include breakpoint("xxlarge") {
        max-width: layout("max");
    }
	
    &.is-open {
        z-index: zIndex("high") - 5; // lower than sticky header

        + .emthemesModez-overlay {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: zIndex("high") - 10;
        }
    }

    > .container {
        position: relative;
        padding: 0;
    }

    .modal-close {
        color: $color-textSecondary;
        top: 0;
        right: 0;

        @include breakpoint("medium") {
            right: -($container-padding);
        }

        .icon-label {
            @include breakpoint("medium") {
                @include u-hidden("visually", !important);
            }
        }
    }

    .productGrid {
        padding: 0;
        margin: 0;
    }

    &.is-open {
        .modal-close {
            display: block;
		
            @media (max-width: screenSize("medium") - 1px) {
                display: flex;
                align-items: center;
                position: fixed;
                top: 180px;
                left: auto;
                right: 0;
                width: auto;
                height: auto;
                padding: spacing("quarter") spacing("half") spacing("quarter") spacing("quarter");
                border-radius: $button-radius;
                box-shadow: 0 2px 10px rgba(color("blacks"), 0.15);
                color: $color-textBase;
                background-color: container("fill", "dark");
                font-size: fontSize("base");
                text-transform: uppercase;

                .icon {
                    @include square(30);
                }
            }
        }
    }
}



// Register / Login Links
// ----------------------------------------------------------------------------
.navUser-item--account {
    @include breakpoint("medium") {
        display: flex;
        align-items: flex-end;

        .navUser-actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: spacing("third");
        }
    }
}

// ============================================================================
// Store info (email, address, phone...) on the top header section
// ============================================================================
.navUser--storeInfo {
    .navUser-item {
        color: stencilColor("navUser-color");
        margin-left: spacing("single") * 3;

        &:first-child {
            margin-left: 0;
        }
    }

    // Icons
    [class^="emthemesModez-icon-"],
    [class*=" emthemesModez-icon-"] {
        font-size: fontSize("base") * (18/14);
        color: stencilColor("icon--alt-color");
        padding-right: spacing("half");
        vertical-align: middle;

        &:hover,
        &:focus {
            color: stencilColor("icon--alt-color-hover");
        }
    }
}

// ----------------------------------------------------------------------------
// Currency select on header
// ----------------------------------------------------------------------------

.emthemesModez-currency-label {
    display: none;

    @include breakpoint("large") {
        display: inline;
    }
}


// Custom banner text on header
// ----------------------------------------------------------------------------
.navUser-item--banner p {
    margin: 0;
}
